<h2>Most Quoted Lines Of Business</h2>
<table>
    <thead>
        <th>Lines of Business</th>
        <th>Quotes</th>
    </thead>
    <tbody>
        <!-- for all values in mostQuoted -->
        <tr *ngFor="let lineOfBusiness of mostQuoted">
            <!-- (Not necesary) to make this redirect to details component on click, I'd have to change BusinessAndQuotes to include the id and add routerLink with the url path on the td tag -->
            <td>{{lineOfBusiness.name}}</td>
            <td>{{lineOfBusiness.count}}</td>
        </tr>
    </tbody>
</table>